.konteiner {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkslategray;
}

.pilt {
    width: 300px;
}