
.book {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background: #e3e3e3; 
    border: 2px solid #ddd;
}

.book-image {
    max-width: 250px;
    border: 1rem;
    border-radius: 2rem;
}

.book-list {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-title {
    margin-bottom: 20px;
}

.book-title, .book-author {
    text-align: center;
  }

.book-author {
    font-style: italic;
  }


